@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*, ::after, ::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font)
}

:root{
  --font: 'Kanit', sans-serif;
  --primary-color:#00a4d6;
  --primary-clear:#93c1cf;
  --primary-dark: #0c323d;
  --blanco:#ebebeb;
  --gris:rgb(107, 107, 107);
  --text-clear: #696969;
}

body{
  background: var(--blanco);
}
.container{
  width: 80%;
  margin: auto;
}

.title-section{
  text-align: center;
  color: var(--primary-dark);
  font-size: 35px;
}

.navbar{
  height: 100px;
  display: flex;
  z-index: 5;
  position: sticky;
}
.nav-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-search{
  display: flex;
  gap: 20px;
  align-items: center;
  width: clamp(200px,40%, 400px);
}
.logo{
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 800;
  font-size: 20px;
  color: var(--primary-color);
}
.searchBar{
  width: 80%;
  position: relative;
}
.search-icon{
  position: absolute;
  right: 8px;
  top: 8px;
}
.search{
  width: 100%;
  border-radius: 50px;
  border: 1px solid var(--primary-color);
  background: none;
  padding: 10px;
  padding-right: 30px;
  outline: none;
}
.close-btn, .menu-btn{
  display: none;
}

.links{
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--gris);
}
.links a{
  text-decoration: none;
  color: var(--gris);
}
.links a:hover{
  color: var(--primary-color);
}
.rastrear{
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 10px;
  color: var(--primary-color);
  cursor: pointer;
  transition: .3s;
}
.rastrear:hover{
  background: #00a4d638;
}

/* --------------------HERO----------------------- */

.Hero{
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}
.hero-content{
  background: var(--primary-color);
  border-radius: 20px;
  padding: 40px;
  position: relative;
  overflow: hidden;
  color: #fff;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
}
.hero-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}
.hero-head .head{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-title{
  font-size: 55px;
  line-height: 45px;
  font-weight: 800;
}
.head p{
  width: 70%;
}
.hero-head .car{
  width: clamp(800px, 50%, 900px);
}
.car img{
  width:100%;
}
.hero-content::after{
  content: '';
  position: absolute;
  height: 300%;
  width: 100%;
  clip-path: ellipse(36% 40% at 93% 50%);
  background: #0382a8;
  top: -40%;
  left: 0;
  z-index: 1;
}
.book-car{
  width: 100%;
  display: grid;
  position: relative;
  z-index: 2;
  border-radius: 20px;
  grid-template-columns: 30% 60% 10%;
  padding: 20px;
  background: var(--primary-dark);

}
.inp{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fechas{
  width: 100%;
  display: flex;
}
.label-date{
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  font-size: 12px;
}
.label-date p{
  color: var(--primary-color);
  font-weight: 600;
}
.inp-book{
  height: 40px;
  outline: none;
  border: none;
  padding: 10px;
  width: 100%;
  border: 1px solid var(--primary-color);
}
.search-book{
  display: flex;
  align-items: flex-end;
}
.search-btn{
  width: 100%;
  height: 40px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
}
/* ---------------------BRANDS------------------------------ */

.brands{
  margin: 20px 0;
}
.brands-content{
  padding: 80px 0;
}

.header-brands{
  margin-bottom: 50px;
}

.swiper-slide{
  display: flex;
  justify-content: center;
}
.swiper-slide img{
  width: 100px;
}

/* ----------------------VENTAJAS----------------- */

.ventajas{
  background: var(--primary-dark);
}
.ventajas-content{
  padding: 80px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
  gap: 50px;
}
.item-ventajas{
  text-align: center;
  color: #fff;
}



/* --------------------------AUTOS------------------ */
.autos-content{
  padding: 100px 0;
}
.cards-autos{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}
.header-autos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.header-autos .title-section{
  text-align: left;
}
.btn-viewall{
  width: 120px;
  height: 50px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 15px;
  color: var(--primary-dark);
  font-weight: 700;
  transition: .3s;
  font-size: 20px;
}
.btn-viewall:hover{
  background: #97e7ff2c;
}

.card-auto{
  border-radius: 15px;
  overflow: hidden;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.103);
}
.imagen-auto{
  width: 100%;
  height: 250px;
  position: relative;
}
.imagen-auto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.calificacion{
  background: var(--blanco);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  gap: 5px;
  border-radius: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.info-card{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}
.title-car{
  font-weight: 600;
  font-size: 25px;
  color: var(--primary-dark);
}
.details-car{
  font-weight: 200;
  color: var(--text-clear);
}
.data-card{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.price-data{
  display: flex;
  align-items: center;
  gap: 5px;
}
.price{
  font-weight: 600;
  font-size: 28px;
  color: var(--primary-color);
}
.tag-price{
  font-weight: 200;
  color: var(--text-clear);

}
.btn-reservar{
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--blanco) ;
  font-weight: 400;
  font-size: 16px;
  background: var(--primary-color);
  cursor: pointer;
}


/* --------------------------RESPONSIVE------------------ */


@media (max-width: 1300px) {
  .book-car{
    grid-template-columns: 100%;
    gap: 20px;
  }
}

@media (max-width:860px) {
  .logo-search{
    width: 90%;
  }
  .search{
    padding: 5px 10px;
  }
  .search-icon{
    top: 5px;
  }
  .links{
    height: 100vh;
    justify-content: center;
    top: 0;
    left: -100vw;
    width: 100%;
    background-color: var(--primary-color);
    position: absolute;
    flex-direction: column;
    gap: 30px;  
    transition: .3s;
  }
  .links.active{
    left: 0;
  }
  .links a{
    color: #fff;
    font-size: 20px;
  }
  .menu-btn{
    cursor: pointer;
    display: block;
  }
  .close-btn{
    cursor: pointer;
    display: block;
    position: absolute;
    top: 40px;
    right: 10%;
    background: #fff;
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }
  .rastrear{
    background: #fff;
    font-size: 20px;
    padding: 10px 20px;
  }
  .rastrear:hover {
    background: #fff;
  }

  .hero-content::after{
    width: 200%;
    left: 0;
    clip-path: ellipse(100% 30% at 60% 55%);

  }
  .hero-title{
    font-size: 48px;
  }
  .hero-head .head{
    gap: 20px;
  }
  .head p{
    font-size: 14px;
    width: 100%;
  }
  .hero-head{
    flex-direction: column;
    align-items: center;
  }
  .hero-head .head{
    align-items: center;
    text-align: center;
  }
  .hero-head .car{
    width: 100%;
  }
  .fechas{
    flex-direction: column;
    gap: 20px;
  }

  .header-autos{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .title-autos .title-section, .title-autos{
    text-align: center;
  }

}

@media (max-width:560px) {
  .hero-title{
    font-size: 40px;
  }
}